# Set model specific hotkey keycodes.
#
# Key map overrides can be specified by either giving scancode/keyname pairs
# directly as keymap arguments (if there are just one or two to change), or as
# a file name (in /usr/lib/udev/keymaps), which has to contain scancode/keyname
# pairs.

ACTION=="remove", GOTO="keyboard_end"
KERNEL!="event*", GOTO="keyboard_end"
ENV{ID_INPUT_KEY}=="", GOTO="keyboard_end"
SUBSYSTEMS=="bluetooth", GOTO="keyboard_end"
SUBSYSTEMS=="usb", GOTO="keyboard_end"

#
# The following are exposed as separate input devices with low key codes, thus
# we need to check their input device product name
#

LABEL="keyboard_modulecheck"

ENV{DMI_VENDOR}="$attr{[dmi/id]sys_vendor}"
ENV{DMI_VENDOR}=="", GOTO="keyboard_end"

ENV{DMI_VENDOR}=="LENOVO*", KERNELS=="input*", ATTRS{name}=="AT Translated Set 2 keyboard", RUN+="keymap $name thinkpad-dan"

LABEL="keyboard_end"
